
// COLOR
$primary-color: #a35fcd;
$secondary-color:#6ae2d4;
$color-gray: #595959;
$color-red: #e74d4d;

// FONT-Size
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;

//FONT
$font: Helvetica, sans-serif;
